*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: none;
}

:root{
    --rouge : #ff5572;
    --rouge-claire: #ffc9d1;
    --jaune : #fce14f;
    --vert :  #00ebc9;
    --bg-squeletton : #f6fcff;
    --bg-squeletton-light: #fbfdff;
    --vert-claire: #e1fdf9;
    --titre:   #022151;
    --hero:  #ecf3fe;
    --text:   #747d8d;
}

nav{
    background-color: var(--hero);

}
nav .logo {
  display: flex; 
  align-items: center;
}

nav .logo .shap {
  width: 30px;           
  height: 30px;        
  display: inline-block;
  background-color: var(--rouge);
}

nav .logo .shap1 {        
  border-radius: 0% 70% 0% 40%;
  background: var(--rouge);
  transform: rotate(-3deg);       
}

nav .logo .shap2 {        
  border-radius: 50%;    
  border: 8px solid var(--rouge);
  background: transparent;   
  margin-left: -12%;   
}


nav .nav-link{
    color: var(--titre);
    font-weight: 500;
}

nav .signup-link{
    background-color: #00ebc9;
    display: block;
    width: 100px;
    text-align: center;
    color: var(--titre);
}

header{
    height: 90vh;
    background-color: var(--hero);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10px;
    position: relative;
}

header h1{
    color: var(--titre);
}
header p{
    max-width: 600px;
    text-align: center;
    color: var(--text);
}

header button{
    background-color: var(--vert);
    padding: 15px 30px;
    color: var(--titre);
    font-weight: bold;
}

p{
    color: var(--text);
}
h2{
    font-weight: bold;
    color: var(--titre)
}

.shaps {
  position: absolute;
  top: 175px;  
  left: 0;       
}

.shap {
  width: 85px;
  height: 85px;
}

.shap1 {
  background: var(--rouge);
  border-radius: 0 0 0 100%;
}

.shap2 {
  background: var(--jaune);
  border-radius: 0 0 0 100%;
  transform: rotate(90deg);

}
.shap3 {
  background: var(--rouge);
  border-radius: 0 0 0 100%;
}

.shap4 {
  background: var(--rouge);
  border-radius: 0 100% 0 0;
  margin-top: -170px;
  margin-left: 85px;
}

 .shap-green{
    background: var(--vert);
    width: 85px;
    height: 85px;
    border-radius: 100% 0 0 0;
    margin-left: 85px;  
}

 .shap-dark{
   width: 85px;
    height: 85px;
    border-radius: 0 0 0 100%;
    margin-left: 85px;  
}
.shap-dark img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 0 0 0 100%;

}
.shap-cercle{
    background: var(--rouge);
    width: 85px;
    height: 85px;
    border-radius: 50%;
    margin-left: 170px;  
    margin-top: -170px;
}

.shap-yellow{
    background: var(--jaune);
     width: 85px;
    height: 85px;
    border-radius: 0 0 100% 0;
    margin-left: 170px;  
    margin-top: 0px;
}

.shap-end{
    background: var(--rouge);
    width: 85px;
    height: 85px;
    border-radius: 0 100% 0 0;
    margin-left: 255px;  
    margin-top: -85px;
}


/* right */
.shaps-right{
    position: absolute;
    right: 0;
    top: 260px;
}

.shaps-right .shap1{
    border-radius: 0 0 100% 0;
}
.shaps-right .shap2{
    border-radius: 0 100% 0 0;
    transform: rotate(360deg);
     background: var(--rouge);
}
.shaps-right .shap3{
     border-radius: 0 100% 0 0;
     transform: rotate(90deg);
     background: var(--vert);
    
}
.shaps-right .shap4{
    background: var(--jaune);
     border-radius:  0 100% 0 0;
     margin-left: -85px;
     margin-top: -254px;

}

.shaps-right .shap5{
    background: var(--vert);
    margin-left: -85px;
    border-radius:  0 100% 0 0;
    transform: rotate(90deg);
}

.shaps-right .shap6{
    border: 10px solid var(--jaune);    
    margin-left: -85px;
    border-radius:  50%;
    margin-top: -1px;
    background: transparent;
}
.shaps-right .shap6 img{
    height: 100%;
    width: 100%;
    border-radius:  50%;
  
}


.shaps-right .shap7{
    background: var(--rouge);
    margin-left: -170px;
    border-radius:  0%;
    margin-top: -254px;
    border-radius:  100% 0 0 0;
    
}

.shaps-right .shap8{
    background: var(--vert);
    margin-left: -170px;
    border-radius:  0%;
    border-radius:  0 100% 0  0;
    
}

.shaps-right .shap9{
    background: var(--rouge);
    margin-left: -170px;
    border-radius:  0%;
    border-radius:  100% 0 0 0;
    
}


.shaps-right .shap10{
    background: var(--jaune);
    margin-left: -255px;
    margin-top: -170px;
    border-radius:  0 100% 0 0;
    transform: rotate(-90deg)   
}
.shaps-right .shap11{
    background: var(--rouge);
    margin-left: -255px;
    margin-top: 0px;
    border-radius:  0 100% 0 0;
    transform: rotate(90deg)  
}

.green-shap{
     width: 40px;
     height: 40px;
    border-radius: 7px;
    margin-bottom: 17px;
    background-color: var(--vert-claire);
}
/* Section 2 */
button{
    background: var(--vert-claire);
    color: var(--vert);
    padding: 7px 15px;
    font-weight: 500;
    margin-bottom: 10px;
}
.section-2 .icones span{
    padding: 10px;
    border-radius: 10px;
}

.section3{
    position: relative;
}
.section3 .shap{
    height: 60px;
    width: 60px;
}

.section3 .shaps{
    position: absolute;
    top: -10%;
    left: 0;
}
.section3 .shap1{
    background: var(--jaune);
    border-radius: 0 100% 0 0;
}
.section3 .shap2{
    background: var(--vert);
    border-radius: 0 100% 0 0;
}

.section3 .shap3{
    background: var(--rouge);
    border-radius: 50%;
    margin-top: -3px;
}

.section3 .shap4{
    background: var(--jaune);
    border-radius: 0 0 100% 0;
    margin-top: 20px;
    margin-left: 0;
    margin-top: 0px;

}



.icone-vert{
    color: var(--vert);
    background: var(--vert-claire);
}
.icone-rouge{
    color: var(--rouge);
    background: var(--rouge-claire);
}

.squeletton-notification{
    height: auto;
    width: 270px;
    background: #f6fcff;
    position: relative;
}

.squeletton-notification .demie-cercles{
    position: absolute;
    left: 20%;
    top: 30%;
    display: flex;
    
}


.squeletton-notification .demie-cercles .shap1{
    border-radius:  100% 0 0 0;
}
.squeletton-notification .demie-cercles .shap2{
    border-radius:   100% 0 0 0;
}

.green-cercle{
    display: block;
    height: 35px;
    width: 35px;
    border-radius: 50%;
    background: #95f4ea;
}
.notification-icone{
    font-size: 20px;
    color: var(--rouge);
}

.white-box{
    height: 90px;
    width: 100%;
    border-radius: 10px;
    background: white;
}
.white-box .cercle{
    display: block;
    height: 45px;
    width: 45px;
    border-radius: 15px;
    background: #9bf6ea;
}
.white-box .trait{
     display: block;
    height: 10px;
    width: 60%;
    border-radius: 10px;
    background: var(--vert);
}

.small-squeletton{
    background: #edf6ff;
    width: 190px;
    height: 220px;
    position: absolute;
    top: 100px;
    left: 200px;
    z-index: 10;
}


 .small-squeletton  .cercle{
    display: block;
    height: 35px;
    width: 35px;
    border-radius: 50%;
    background: #9bf6ea;
}
.small-squeletton  .trait{
     display: block;
    height: 10px;
    width: 60%;
    border-radius: 10px;
    background: var(--vert);
}

.small-squeletton .grey-cercle{
    display: block;
    height: 35px;
    width: 35px;
    border-radius: 50%;
    background: #d0e4f4;
}

.small-squeletton  .grey-trait{
     display: block;
    height: 10px;
    width: 60%;
    border-radius: 10px;
    background: #d0e4f4;

}

/* scetion3 */

.section3 .squeletton{
      height: 500px;
    width: 300px;
    background: var(--bg-squeletton);
    border-radius: 10px;
    position: relative;
}

.section3 .box-notification{
    height: 100%;
    width: 70%;
    background: var(--bg-squeletton-light);
}

.section3 .cercle-active{
     display: block;
    height: 35px;
    width: 35px;
    border-radius: 50%;
    background: #9bf6ea;
}

.section3 .trait-active{
    display: block;
    height: 10px;
    width: 60%;
    border-radius: 10px;
    background: var(--vert);
}

.section3 .grey-cercle{
     display: block;
    height: 35px;
    width: 35px;
    border-radius: 50%;
    background: #d0e4f4;
}
.section3 .grey-trait{
    display: block;
    height: 10px;
    width: 60%;
    border-radius: 10px;
    background: #d0e4f4;
}

.section3 .map{
    background: #edf6ff;
    width: 200px;
    height: 290px;
    position: absolute;
    border-radius: 10px;
    top: 110px;
    left: 150px;
    z-index: 10;   
}

.section3 .map span{
    font-size: 55px;
    color: var(--vert);
}



.map span i{
    display: block;
    margin: 0 auto;
   margin-top: 100px;


}

 .icone-vert{
    display: block;
    height: 50px;
    width: 50px;    
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
}

 .icone-rouge{
    display: block;
    height: 50px;
    width: 50px;    
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
}